<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        <div class="blogs content" >
            <h2>About Us</h2>
            <p>gdhwgdhwdojhwdofhwdljflkdjflk</p>
            <p>dusgduygyieeiedjkbcuhddgcuygjhdjh</p>
            <p>feutwerytweryiweiruyweriyewuirhhadtctydh</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>